body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 200vh;
  padding-top: 74px;
  background: url('https://learn.logikaschool.com/uploads/student/621981/6865368f0c092.jpg') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 60px;
  color: white;
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 74px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 10;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.logo-image {
  height: 40px;
  margin-right: 10px;
}

.wordway-title {
  font-size: 24px;
  font-weight: bold;
  color: #241E8C;
}

.button {
  margin-right: 30px;
  font-size: 18px;
  color: #241E8C;
  cursor: pointer;
}

.button:hover {
  color: #A92828;
}

.button-container {
  display: flex;
  gap: 15px; /* Відстань між кнопками */
}

#btn-about { margin-left: auto; } /* Вирівнюємо кнопки праворуч */

.button:hover {
  color: #A92828;
}

.lessons {
  position: absolute;
  top: 12vh; /* Відстань від верхньої панелі */
  left: 4vw;
  width: 28vw; /* Ширина */
  height: 65vh;
  line-height: 60px;
  font-weight: 400;
  background: linear-gradient(90deg, #8A87BE 0%, #AC3E90 48.08%, #D27C7C 100%);
  border-radius: 20px;
}

.lessons h2 {
  font-size: 2vw; /* Розмір шрифту */
  margin-bottom: 1.2vw;
}

.lesson {
  background-color: #ffffff;
  border-radius: 1.7vw;
  color: #000000;
  padding: 1.2vw;
  margin-bottom: 1.2vw;
  font-size: 1.4vw;
  box-shadow: 0 0.2vw 0.4vw rgba(0,0,0,0.1);
}

.about {
  position: absolute;
  top: 12vh;
  left: 35vw; /* Відстань */
  width: 57vw; /* Ширина */
  color: #1a166e;
}

.about h1 {
  margin: 30px;
  font-size: 2.5vw;
  color: #1a166e;
  margin-bottom: 1.7vw;
}

.about p {
  margin: 30px;
  font-size: 1.4vw;
  line-height: 1.6;
  margin-bottom: 2.3vw;
  color: white;
}

.test-button {
  margin: 30px;
  background-color: #a92828;
  color: #ffffff;
  font-size: 1.9vw;
  padding: 20px;
  border: none;
  border-radius: 1.7vw;
  cursor: pointer;
  font-family: 'Lilita One', sans-serif;
  transition: background-color 0.3s;

  line-height: 60px;
  font-weight: 400;
  background: linear-gradient(90deg, #8A87BE 0%, #AC3E90 48.08%, #D27C7C 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.test-button:hover {
  background-color: #911e1e;
}

.contacts {
  position: absolute;
  top: 78vh;
  left: 71vw; /* Відстань */
  width: 23vw; /* Ширина */
  font-size: 1.2vw;
  line-height: 1.8;
  color: #1a166e;
}
